@media (max-width: 767px) {
    .search {
        width: 20px;
        height: 20px;
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);

        input[type=search] {
            display: none;
        }

        input[type=submit] {
            width: 100%;
            height: 20px;
        }
    }
}