body {
    background-color: #fafafa;
}

header {
    height: 20px;
    background: #333;
}

main {
    margin: 20px 0;
}

h1 {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: normal;

    &.e-order {
        padding-left: 40px;
        background: url(../img/eorder.png) left center no-repeat;
        background-size: auto;
    }
}

h2 {
    font-size: 15px;
    text-transform: uppercase;
}

p {
    font-size: 12px;
}

a {
    color: $color-link;
    &:hover {
        color: $color-link-hover;
    }
}

.tabs-header {
    background-image: linear-gradient(-180deg, #F4F4F4 0%, #DDDDDD 100%);
    border: 1px solid $color-border-highlight;
    margin-top: 20px;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            display: inline-block;
            
            a {
                display: block;
                padding: 8px 20px;
                font-size: 12px;
                color: #333;
                text-transform: uppercase;
        
                &.active {
                    background-color: #fff;

                    &:hover {
                        text-decoration: none;
                        cursor: default;
                    }
                }
            }
        }
    }
}

.order-types {
    margin: 0;
    padding: 0; 
    list-style: none;
    border-bottom: 1px solid $color-border-highlight;

    li {
        display: inline-block;

        a {
            padding: 0 10px;
            color: #333;
            font-size: 12px;
            line-height: 40px;

            &.active {
                font-weight: bold;
                cursor: default;
                text-decoration: none;
            }
        }
    }
}

.dragndrop-field {
    border: 1px solid $color-border-highlight;
    min-height: 200px;

    &__item {
        padding: 5px 10px;
        font-size: 12px;

        &:not(:last-child) {
            border-bottom: 1px dashed $color-border-highlight;
        }

        &:hover {
            background-color: $color-table-row-hover;
            cursor: all-scroll;
        }
    }
}