$color-table-row-hover: #eaedff;
$color-border-highlight: #E5E5E5;
$color-link: #59B6E3;
$color-link-hover: #4095D3;

@mixin buttonStyle($color: 'blue') {
    $gradient: '';
    $hoverGradient: '';
    @if($color == 'blue') {
        $gradient: linear-gradient(-179deg, $color-link 0%, $color-link-hover 100%);
        $hoverGradient: linear-gradient(-179deg, #3E9BC8 0%, #1D75B5 99%)
    }
    @else {
        $gradient: linear-gradient(-179deg, #E7E7E7 0%, #E4E4E4 100%);
        $hoverGradient: linear-gradient(-179deg, #E7E7E7 0%, #E4E4E4 99%);
    }
    background-image: $gradient;
        &:hover {
            background-image: $hoverGradient;
        }
    border: 1px solid #FAFAFA;
}