.btn {
    @include buttonStyle();
    border-radius: 85px;
    font-size: 12px;
    line-height: 15px;
    color: #fff;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.circleBtn {
    @include buttonStyle();
    width: 28px;
    height: 28px;
    padding: 0;
    border-radius: 100%;
    font-size: 10px;
    text-align: center;
    line-height: 200%;
    color: #fff;
    cursor: pointer;
    &:not(:last-child) {
        margin-right: 5px;
    }

    &.selected {
        @include buttonStyle('grey');
        cursor: default;
        color: #333;
    }
}