.dropleft {
    .dropdown-menu {
        border-radius: 0;
        margin-right: 5px;
        padding: 0;

        .dropdown-item {
            padding-left: 35px;
            background-size: 16px;
            background-repeat: no-repeat;
            background-position: 10px center;
            font-size: 14px;
        }

        .edit {
            background-image: url(../img/edit.svg);
        }

        .delete {
            background-image: url(../img/delete.svg);
        }

        .copy {
            background-image: url(../img/copy.svg);
        }
    }

    .dropdown-toggle {
        color: #333;
        font-weight: bold;
    
        &:before {
            display: none;
        }
    }
}