.edit-table-link {
    font-size: 12px;
    padding: 0 15px;
    background: url(../img/edit.svg) left center no-repeat;
    background-size: 12px;
}

.edit-table-dropdown {
    display: none;
    opacity: 0;
    position: absolute;
    z-index:2;
    top: 100%;
    left: 0;
    margin: 0 15px;
    padding: 20px;
    width: calc(100% - 30px);
    background: #fff;
    transition: all 2s ease-in;

    &.show {
        display: block;
        opacity: 1;
    }

    > .row:not(:last-child) {
        padding-bottom: 20px;
    }
}