.scrollable-table-wrapper {
    max-height: 400px;

    .table-floating-header {
        font-size: 13px;

        td {
            line-height: 30px;
        }

        th {
            line-height: 40px;
        }

        td, th {
            padding: 0 5px;
            border: none;
            white-space: nowrap;
        }

        tr {
            &:nth-child(odd) td:not(:first-child):not(:last-child) {
                background-color: #fff;
            }

            &:nth-child(even) td:not(:first-child):not(:last-child) {
                background-color: #F7F7F7;
            }
        }

        .scrollingBg {
            background-color: rgba(255, 255, 255, .90);
        }

        tr:hover td {
            background-color: $color-table-row-hover !important;
        }

        
    }
}