.search {
    display: inline-block;
    line-height: 33px;
    position: relative; 
    margin-right: 10px;

    input {
        border: none;
        background: #FFFFFF;
        border: 1px solid #FAFAFA;
        padding: 2px 30px 2px 5px;
        font-size: 12px;
        line-height: initial;

        &:focus {
            box-shadow: 0 0 2px #333;
            outline: none;
        }

        &[type=submit] {
            position: absolute;
            top: 0;
            right: 5px;
            display: block;
            height: 100%;
            width: 12px;
            border: none;
            color: transparent;
            background: url(../img/search.svg) center center no-repeat;
            background-size: 100%;
            padding: 0;
            cursor: pointer;
        }
    }
}